html, body {
    background-color: #fcf7f4;
    font-size: 10pt;
    font-family: Helvetica,Arial,sans-serif;
    color: #181818;
    margin: 0;
    height: 100%;
}
body {
    margin-top:200px;
}
a {
    color: #181818;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

.header {
    display: flex;
    z-index: 1;
    background-color: #fcf7f4;
    /* padding: 0 5% 0 5%; */
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 90%;
    height: 100px;
    margin: 15px auto auto auto;
}
.navbar > div {
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
}
.navbar {
    display: flex;
    justify-content: center;
}
.email {}
.home {}
.classes {}
.corporate-wellness {}
.contact {}
.instagram {}




.page-header {
    display: grid;
    grid-template-columns: 100%;
    padding: 50px;
}
.page-header:nth-child(1n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.section > div {
display: flex;
justify-content: center;
align-items: center;

}
.section > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    padding: 5%;    
}
.pic {
    
}
#meet-pic {
    max-width: 100%;
    height: 100%;
}
