html, body {
    background-color: #fcf7f4;
    font-size: 10pt;
    font-family: Helvetica,Arial,sans-serif;
    color: #181818;
    margin: 0;
    height: 100%;
}
body {
    margin-top:150px;
}
a {
    color: #181818;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #181818;
    border-radius: 5px;
    padding: 1px;
}

.header {
    display: flex;
    z-index: 1;
    background-color: #fcf7f4;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 90%;
    height: 100px;
    margin: 15px auto auto auto;
}
.navbar > div {
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
}
.navbar {
    display: flex;
    justify-content: center;
}
.email {}
.home {}
.classes {}
.corporate-wellness {}
.contact {}
.instagram {
    display: none
}



.page-header {
    display: grid;
    grid-template-columns: 100%;
    padding: 50px 0 0 0;
}
.page-header:nth-child(1n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin: 20px auto auto auto;
}
.section > div {
display: flex;
justify-content: center;
align-items: center;

}
.section > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}
.content {
    padding: 5%;    
}
.pic {
    
}
#meet-pic {
    max-width: 100%;
    height: auto;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
@media (max-width: 725px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    .navbar > div {
        padding: 10px 3px 10px 3px;
        text-align: center;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
    }
    .email {
        display: none;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px auto auto auto;
    }
}