html, body {
    background-color: #fcf7f4;
    font-size: 10pt;
    font-family: Helvetica,Arial,sans-serif;
    color: #181818;
    margin: 0;
    height: 100%;
}
body {
    margin-top: 150px;
}
a {
    color: #181818;
    text-decoration: none;

}
.navbar > div > a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #181818;
    border-radius: 5px;
    padding: 1px;
}

.header {
    display: flex;
    z-index: 1;
    background-color: #fcf7f4;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
    width: 90%;
    height: 100px;
    margin: 15px auto auto auto;
}
.navbar > div {
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
}
.navbar {
    display: flex;
    justify-content: center;
}
.email {}
.home {}
.classes {}
.corporate-wellness {}
.contact {}
.instagram {
    display: none
}


#banner-pic {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 5px;
    
}

.why-yoga {
    background-color: rgb(218,243,198);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5%;
}
#meditation-pic {
    padding: 5%;
    max-width: 100%;
    height: auto;
}



.meet-jasper {
    display: flex;
}
.meet-content {
    padding: 5%;    
}
.meet-pic {
    
}
#meet-pic {
    width: 100%;
    height: auto;
}

.contact-link {
    background-color: transparent;
    border: 1px solid #181818;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 15px 15px 15px 15px;
}
.contact-link:hover {
    background-color: #181818;
    color: #ffffff;
    border: 1px solid #181818;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 15px 15px 15px 15px;
}

.quote {
    box-sizing: border-box;
    position: relative;
    top: -4px;
}
#quote-pic {
    position: relative;
    width: 100%;
    height: auto;
}
#quote { 
    font-size: 18pt;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    width: 375px;
    height: 2em;
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 30%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

@media (max-width: 725px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    .navbar > div {
        padding: 10px 3px 10px 3px;
        text-align: center;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
    }
    .email {
        display: none;
    }


    .meet-pic{
        display: none;
    }
    .quote {
        box-sizing: border-box;
        position: relative;
        margin-top: 10px;
    }
    #quote-pic {
        position: relative;
        width: 100%;
        height: auto;
    }
    #quote { 
        font-size: 12pt;
        color: #ffffff;
        background-color: transparent;
        text-align: center;
        width: 150px;
        height: 2em;
        z-index: 1;
        position: absolute;
        top: 65%;
        left: 30%;
    }
}