h1 {
    font-size: 36pt;
    padding: 10px 30px 10px 15px;
}
html,body {
    height: 100%;
}
.container {  
    border: #ffffff solid 5px;
    display: flex;
    justify-content: center;
}
.rows {
    display: flex;
    height: 100px;
    justify-content: center;
}
.rows > div {
    width: 300px;
    padding: 10px;
    height: 100%;
}
.ltpink {

}
.pink {

}
.blue {

}
.green {

}
.orange {

}