[draggable]{
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}
.list{
    display: flex;
    flex-direction: column;
}
.item-title {
    padding: 0 10px 0 10px;
}
.item-description {
    padding: 0 10px 0 10px;
}
.list-item {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 2fr 1fr 1fr;
    grid-template-rows: 75px;
    align-items: center;
    border: 1px solid #000000;
    padding: 15px;
}
.img-container {
    display: flex;
    justify-content: center;
}
.item-image {
    width: auto;
    height: 100px;
}

.over {
    border: 2px dashed #000000;
    border-top: 2px solid #0000ff;
}
.dragElem {
    opacity: 0.4;
}