.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name {
    color: peachpuff;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 20px;
}

#main {
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.message {
    padding: 5px;
    border-radius: 10px;
}

.right {
    align-self: flex-end;
    background-color: lightblue;
    box-shadow: 5px 5px rgb(121, 150, 160);
}

.left {
    align-self: flex-start;
    background-color: burlywood;
    box-shadow: 5px 5px rgb(131, 108, 78);
}
