.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.spotcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px;
  grid-gap: 20px;
  width: 75%;
}
.spot {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0;
}