body {
  margin: 0;
}
.App {

}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: multiply;
  background-color: #2125297e;
  position: relative;
  background-image: url(./img/home-bg.jpg);
  width: 100%;
  height: 500px;
  color: #ffffff;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}
.header > .title {
  position: relative;
  z-index: 1;
  top: 125px;
  box-sizing: border-box;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
}
.header > .title > .subtitle {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;

}
.brand-name {
  margin-right: auto;
}
.brand-name > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25rem;
  transition: all .2s;
  box-sizing: border-box;
}
.brand-name > a:hover {
  color: #ffffffcc;
}
.navbar {
  transition: all .2s;
  width: 80%;
  padding: 20px 75px;
  display: flex;
  flex-wrap: nowrap;
}
.NavMenu {
  display: flex !important;
  align-items: flex-end;
}
.NavMenu > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  transition: all .2s;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
}
.navMenu > .home {
  margin-left: auto;
}
.BlogPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}
.BlogPost {
  border-bottom: 1px solid #80808031;
}
.BlogPost > .blogtitle {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;

}
.BlogPost> .blogtitle:hover {
  color: #0085a1;
}
.BlogPost > .blogsubtitle {
  font-size: 1.75em;
  margin: 0 0 10px;
  font-weight: 300;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;

}
.BlogPost> .blogsubtitle:hover {
  color: #0085a1;
}

.BlogPost > .metadata {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
  line-height: 1.5;
  font-family: Lora,'Times New Roman',serif;
}
.Footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #80808031;
  color: #212529;
}
.Footer > .socialmedia {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.Footer > .socialmedia > a {
  text-decoration: none;
  color: #212529;
  padding: 30px 10px 30px 10px;
  box-sizing: border-box;
  
}
