body {
  margin: 0;
}
.App {

}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-blend-mode: multiply;
  background-color: #2125297e;
  position: relative;
  background-image: url(./img/home-bg.jpg);
  width: 100%;
  height: 500px;
  color: #ffffff;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}
.header > .title {
  position: relative;
  z-index: 1;
  top: 175px;
  box-sizing: border-box;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
}
.header > .title > .subtitle {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;

}
.brand-name {
  margin-right: auto;
}
.brand-name > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25rem;
  transition: all .2s;
  box-sizing: border-box;
}
.brand-name > a:hover {
  color: #ffffffcc;
}
.navbar {
  transition: all .2s;
  width: 80%;
  padding: 20px 75px;
  display: flex;
  flex-wrap: nowrap;
}
.NavMenu {
  display: flex !important;
  align-items: flex-end;
}
.NavMenu > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  transition: all .2s;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
}
.navMenu > .home {
  margin-left: auto;
}
.footer {}
.BlogPostContainer {}
.BlogPost {}
