html, body {
  margin: 0;
}
.App {
  position: relative;

}
.dark-nav {
  background-color: #333;
  color: #b5b51e;
}
.light-nav {
  background-color: white;
  color: #333;
}
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}
.dark-main {
  background-color: rgb(32, 36, 54);
  color: #b5b51e;
}
.light-main {
  background-color: rgb(162, 198, 233);
  color: #333;
}
.Main {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.dark-footer {
  background-color: #333;
  color: #b5b51e;
}
.light-footer {
  background-color: white;
  color: #333;
}
.Footer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
}