.App {
  text-align: center;
  width: 100%;
  padding: 5%;
  margin: auto;
}
.friendlist {
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.friend {
  display: flex;
  
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.friendname {
  grid-area: "n"
}
.friendage {
  grid-area: "a"
}
.pet {
  grid-area: "p";
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.pettitle {

}
.petname {

}
.petbreed {

}