.App {
  text-align: center;
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.friendlist {
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.friend {
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}
.pet {
  border: 1px solid black;
  width: 75%;
  padding: 5%;
  margin: auto;
}