html, body {
    margin: 0;
}
body > :nth-child(2n) {
    /* background-color: #ffffff; */
    background-color: #c6ddcf;
}
section, body > :nth-child() {
    background-color: #ffffff;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    background-color: rgb(237,244,240);
}
.links > div {
    border-bottom: 1px solid grey;
}
.footer-text {
    text-align: center;
}
.footer-links {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #134347;
}
.footer-links > div {
    padding: 10px;
}