.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  grid-gap: 15px;
  padding: 150px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;

}